.modal-content {
  max-height: 90vh;
  overflow-y: auto;
  max-width: 99%;
  margin: auto;
}

.mySwiper {
  width: 100%;
  height: auto;
}

.product-image {
  width: 100%;
  height: auto;
  max-height: 150px; /* Ajusta la altura máxima según sea necesario */
  object-fit: cover;
  border-radius: var(--bs-border-radius);
}

.container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

.flex-col-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
