<!-- Propuestas Recibidas -->
<div
  *ngIf="exchangesReceived.length > 0"
  class="sticky top-0 bg-white p-6 rounded-lg shadow-lg w-full z-50"
>
  <h2 class="text-lg font-bold mb-4 text-pink-500">Intercambio Propuesto</h2>
  <div class="mb-4">
    <p class="text-sm text-gray-600">
      {{ exchangesReceived[0].userOffered.username }} te está proponiendo un intercambio
    </p>
  </div>
  <div
    class="flex justify-between items-center mb-4 space-x-4 group relative exchange-container"
  >
    <!-- Producto Ofrecido -->
    <div
      class="w-1/2 p-2 bg-gray-100 rounded-lg transform transition-transform duration-500 ease-in-out cursor-pointer product-card-1"
      *ngIf="exchangesReceived[0]?.productOffered"
      (click)="navigateToProduct(exchangesReceived[0].productOffered._id, exchangesReceived[0]._id)"
    >
      <h3 class="text-base font-semibold text-pink-500 mb-2">
        {{ exchangesReceived[0].productOffered.title }}
      </h3>
      <img
        [src]="exchangesReceived[0].productOffered.images[0]"
        alt="Producto 1"
        class="w-full h-auto rounded-lg object-cover"
        (error)="onImageError($event)"
      />
    </div>
    <!-- Producto Solicitado -->
    <div
      class="w-1/2 p-2 bg-gray-100 rounded-lg transform transition-transform duration-500 ease-in-out cursor-pointer product-card-2"
      *ngIf="exchangesReceived[0]?.productRequested"
      (click)="navigateToProduct(exchangesReceived[0].productRequested._id, exchangesReceived[0]._id)"
    >
      <h3 class="text-base font-semibold text-pink-500 mb-2">
        {{ exchangesReceived[0].productRequested.title }}
      </h3>
      <img
        [src]="exchangesReceived[0].productRequested.images[0]"
        alt="Producto 2"
        class="w-full h-auto rounded-lg object-cover"
        (error)="onImageError($event)"
      />
    </div>
  </div>
  <div class="flex justify-around mt-4" *ngIf="exchangesReceived[0]?.status !== 'accepted'">
    <button
      class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full"
      (click)="acceptExchange(exchangesReceived[0]._id, exchangesReceived[0].productOffered._id)"
    >
      Revisar Oferta
    </button>
    <button
      class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full"
      (click)="rejectExchange(exchangesReceived[0]._id)"
    >
      Rechazar
    </button>
  </div>
  <div class="mt-4" *ngIf="exchangesReceived[0]?.status === 'accepted'">
    <p class="text-sm text-gray-600">
      Esperando que el otro usuario haga el pago...
    </p>
  </div>
</div>

<!-- Propuestas Enviadas -->
<div
  *ngIf="exchangesSent.length > 0"
  class="sticky top-0 bg-white p-6 rounded-lg shadow-lg w-full z-50 mt-6"
>
  <h2 class="text-lg font-bold mb-4 text-pink-500">Esperando Respuesta</h2>
  <div class="mb-4">
    <p class="text-sm text-gray-600">
      Tu propuesta de intercambio está pendiente de respuesta.
    </p>
  </div>
  <div
    class="flex justify-between items-center mb-4 space-x-4 group relative exchange-container"
  >
    <!-- Producto Ofrecido -->
    <div
      class="w-1/2 p-2 bg-gray-100 rounded-lg transform transition-transform duration-500 ease-in-out cursor-pointer product-card-1"
      *ngIf="exchangesSent[0]?.productOffered"
      (click)="navigateToProduct(exchangesSent[0].productOffered._id, exchangesSent[0]._id)"
    >
      <h3 class="text-base font-semibold text-pink-500 mb-2">
        {{ exchangesSent[0].productOffered.title }}
      </h3>
      <img
        [src]="exchangesSent[0].productOffered.images[0]"
        alt="Producto 1"
        class="w-full h-auto rounded-lg object-cover"
        (error)="onImageError($event)"
      />
    </div>
    <!-- Producto Solicitado -->
    <div
      class="w-1/2 p-2 bg-gray-100 rounded-lg transform transition-transform duration-500 ease-in-out cursor-pointer product-card-2"
      *ngIf="exchangesSent[0]?.productRequested"
      (click)="navigateToProduct(exchangesSent[0].productRequested._id, exchangesSent[0]._id)"
    >
      <h3 class="text-base font-semibold text-pink-500 mb-2">
        {{ exchangesSent[0].productRequested.title }}
      </h3>
      <img
        [src]="exchangesSent[0].productRequested.images[0]"
        alt="Producto 2"
        class="w-full h-auto rounded-lg object-cover"
        (error)="onImageError($event)"
      />
    </div>
  </div>
  <div class="mt-4" *ngIf="exchangesSent[0]?.status === 'accepted'">
    <p class="text-sm text-gray-600">
      Felicidades, el usuario {{ exchangesSent[0].userRequested.username }} ha aceptado el trueque.
    </p>
    <button
      class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full"
      (click)="navigateToPayment(exchangesSent[0]._id)"
    >
      Realizar Pago
    </button>
  </div>
</div>
