<div class="bg-slate-100 rounded-xl p-8 mt-4">
  <h1 class="text-2xl font-bold mb-4">Productos Disponibles</h1>
  @if(loading == true) {
  <div class="text-center">
    <p>Cargando productos...</p>
  </div>
  }@if(error) {
  <p>Error: {{ error }}</p>
  }

  <div class="flex flex-wrap gap-5 justify-center">
    @if (!loading && !error) {
      @for(product of products; track product) {
        <div class="border border-gray-300 p-4 rounded-lg w-48 flex flex-col justify-between">
          <div>
            <img src="{{ product.images[0] }}" alt="{{ product.title }}" class="w-full h-36 object-cover rounded">
            <div class="mt-2 h-6 overflow-hidden relative">
              <h3 [ngClass]="{ 'animate-marquee': shouldAnimateTitle(product.title) }" class="font-semibold whitespace-nowrap overflow-hidden">{{ product.title }}</h3>
            </div>
            <p class="text-sm text-gray-600 line-clamp-3">{{ product.description }}</p>
          </div>
          <button class="mt-2 bg-blue-500 text-white py-1 px-2 rounded hover:bg-blue-600" (click)="proposeExchange(product._id)">
            Proponer Intercambio
          </button>
        </div>
      }
    }
  </div>
  
</div>
