<div class="container mx-auto p-6">
  <div class="flex flex-wrap lg:flex-nowrap bg-white shadow-md rounded-lg">
    <!-- Left side: Product details -->
    <div class="w-full lg:w-2/3 p-6 border-b lg:border-b-0 lg:border-r border-gray-200">
      <div *ngIf="product" class="flex flex-col mb-6">
        <img src="{{ product.images[0] }}" alt="{{ product.title }}" class="w-full h-80 object-cover rounded mb-4">
        <h2 class="text-2xl font-semibold mb-2">{{ product.title }}</h2>
        <p class="text-gray-600 text-justify">{{ product.description }}</p>
      </div>
    </div>
    <!-- Right side: Exchange form -->
    <div class="w-full lg:w-1/3 p-6">
      <h1 class="text-3xl font-bold mb-6 text-center text-pink-600">Proponer Intercambio</h1>
      <form class="space-y-6" #exchangeForm="ngForm" (ngSubmit)="handleSubmit(exchangeForm)" novalidate>
        <div>
          <label for="details" class="block text-sm font-medium text-gray-700">Detalles del Intercambio</label>
          <textarea 
            id="details" 
            name="details" 
            ngModel 
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm" 
            placeholder="Describe tu oferta de intercambio" 
            required>
          </textarea>
          <div *ngIf="exchangeForm.submitted && exchangeForm.controls['details']?.invalid" class="text-red-600 text-sm mt-1">
            Este campo es obligatorio.
          </div>
        </div>
        <div>
          <label for="proposedProduct" class="block text-sm font-medium text-gray-700">Selecciona tu Producto para el Intercambio</label>
          <select 
            id="proposedProduct" 
            name="proposedProduct" 
            [(ngModel)]="proposedExchangeProduct" 
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm" 
            required>
            <option *ngFor="let p of userProducts" [ngValue]="p">{{ p.title }}</option>
          </select>
          <div *ngIf="exchangeForm.submitted && exchangeForm.controls['proposedProduct']?.invalid" class="text-red-600 text-sm mt-1">
            Este campo es obligatorio.
          </div>
        </div>
        <div class="flex justify-center">
          <button 
            type="submit" 
            [disabled]="exchangeForm.invalid" 
            class="w-full py-3 px-6 bg-pink-600 text-white rounded-md shadow-sm hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
            Proponer Intercambio
          </button>
        </div>
      </form>
      <p *ngIf="message" class="mt-6 text-center text-red-600">{{ message }}</p>
    </div>
  </div>
</div>
