<div class="container">
  <div class="flex h-screen ml-10 pt-5">
    <div class="flex flex-col w-1/2 m-2 space-x-1 p-5 border-2 rounded-lg">
      <div class="flex justify-center pb-5">
        <img
          src="https://img.freepik.com/foto-gratis/colores-arremolinados-interactuan-danza-fluida-sobre-lienzo-que-muestra-tonos-vibrantes-patrones-dinamicos-que-capturan-caos-belleza-arte-abstracto_157027-2892.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1721347200&semt=sph"
          alt="Imagen del producto"
          class="w-1/2 h-auto rounded-lg"
        />
      </div>
      <div class="text-left">
        <h1 class="font-bold">Nombre Producto</h1>
        <h1 class="font-bold">Detalles del producto</h1>
        <h1 class="font-bold">Estado</h1>
        <button>Page aqui</button>
      </div>
    </div>

    <div class="flex flex-col w-1/2 m-2 space-x-1 p-5 border-2 rounded-lg">
      <div class="flex justify-center pb-5">
        <img
          src="https://img.freepik.com/foto-gratis/colores-arremolinados-interactuan-danza-fluida-sobre-lienzo-que-muestra-tonos-vibrantes-patrones-dinamicos-que-capturan-caos-belleza-arte-abstracto_157027-2892.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1721347200&semt=sph"
          alt="Imagen del producto"
          class="w-1/2 h-auto rounded-lg"
        />
      </div>
      <div class="text-left">
        <h1 class="font-bold">Nombre Producto</h1>
        <h1 class="font-bold">Detalles del producto</h1>
        <h1 class="font-bold">Estado</h1>
        <button>Page aqui</button>
      </div>
    </div>
  </div>
</div>
