<div class="flex justify-center items-center">
    <form (ngSubmit)="handleSearch()" class="flex items-center space-x-2">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        name="searchTerm"
        placeholder="Buscar productos..."
        class="px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-jinson-600"
        required
      />
      <button type="submit" class="px-4 py-2 bg-jinson-600 text-white rounded-md hover:bg-jinson-700 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 10l4 4m0-4l-4 4m-1 1a7 7 0 1 0-14 0 7 7 0 0 0 14 0zm-1 1H5" />
        </svg>
      </button>
    </form>
  </div>
  