<div class="p-8 bg-gray-100">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">

    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-gray-500 text-sm font-medium text-center">Usuarios Activos</h2>
      <div class="mt-4">
        <!-- Gráfico de ventas (reemplazar con gráfico real) -->
        <div class="h-16 bg-blue-100 rounded-lg">
          <p class="text-green-500 text-3xl font-bold text-center justify-center mt-5">{{userCount}}
        </div>
      </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-gray-500 text-sm font-medium text-center">Productos Totales</h2>
      <div class="mt-4">
        <!-- Gráfico de pedidos (reemplazar con gráfico real) -->
        <div class="h-16 bg-blue-100 rounded-lg">
          <p class="text-green-500 text-3xl font-bold text-center">{{productCount}}
        </div>
      </div>
    </div>


    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-gray-500 text-sm font-medium text-center">Intercambios</h2>
      
      <div class="mt-4">
        <!-- Gráfico de pedidos (reemplazar con gráfico real) -->
        <div class="h-16 bg-blue-100 rounded-lg">
          <p class="text-green-500 text-3xl font-bold text-center">{{exchangeCount}}
        </div>
      </div>
    </div>


    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-gray-500 text-sm font-medium text-center">Roles</h2>
      
      <div class="mt-4">
        <!-- Gráfico de pedidos (reemplazar con gráfico real) -->
        <div class="h-16 bg-blue-100 rounded-lg">
          <p class="text-green-500 text-3xl font-bold text-center ">{{roleCount}}
        </div>
      </div>
    </div>
