@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background-tag: #ffeedd;
    --primary-text: #ff4081;
    --secondary-text: #666666;
    --primary-button-bg: #6200ea;
    --primary-button-hover: #3700b3;
    --secondary-button-bg: #e0e0e0;
    --secondary-button-hover: #aeaeae;
    --container-bg: #f9f9f9;
  }
  
  body {
    background-color: var(--container-bg);
    color: var(--secondary-text);
    font-family: 'Arial', sans-serif;
    padding: auto;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--primary-text);
  }
  
  a {
    color: var(--primary-text);
  }
  
  button.primary {
    background-color: var(--primary-button-bg);
    color: #fff;
  }
  
  button.primary:hover {
    background-color: var(--primary-button-hover);
  }
  
  button.secondary {
    background-color: var(--secondary-button-bg);
    color: #000;
  }
  
  button.secondary:hover {
    background-color: var(--secondary-button-hover);
  }
  
  .cta-tag {
    background-color: var(--background-tag);
  }
  .cta-button.primary {
    background-color: #6200ea;
    color: #fff;
  }